body {
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    object-fit: cover;
}

.image-card{
    height: 100px;
    object-fit: cover;
}

.avatar {
    width: 130px;
    height: 130px;
    border-radius: 100px;
    margin-top: -75px;
}

